<!--
    Title: Filter Panel
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Revision: 4/28/25

    Description: Filter Panel Component
-->

<div class="filter-panel">

  <div class="btn-group mb-2">
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="selectAll()">Select All</button>
    <button type="button" class="btn btn-sm btn-outline-danger"  (click)="deselectAll()">Deselect All</button>
  </div>

  <h4>Filter by Genre</h4>

  <div class="row">
    <div *ngFor="let genre of genres" class="col-6">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [value]="genre"
          (change)="onGenreChange($event)"
          [checked]="selectedGenres.includes(genre)"
          id="chk-{{genre}}"
        />
        <label class="form-check-label" for="chk-{{genre}}">
          {{ genre }}
        </label>
      </div>
    </div>
  </div>

</div>
