/**
    Title: Contact Us
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Revision: 5/3/25

    Description: Contact Us Component
*/


/* ***** RESPONSIVE MAPS ***** */
.map-small,
.map-medium {
  display: none;
  justify-content: center;
}

@media (max-width: 430px) {
  .map-small {
    display: flex;
    width: 100%;
    border: 0;
  }
}

@media (min-width: 431px) {
  .map-medium {
    display: flex;
    width: 100%;
    border: 0;
  }
}
/* ***** RESPONSIVE MAPS ***** */


h3 {
  text-align: center;
}


/* ***** FLEX CONTAINER ***** */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.flex-item-right, .flex-item-left {
  padding: 2.5%;
}


@media (max-width: 456px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item-right, .flex-item-left {
    margin-left: auto;
    margin-right: auto;
  }
}
/* ***** FLEX CONTAINER ***** */


mat-icon {
  color: darkred;
}

.contact-line {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flex-item-right {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  display:flex;
  align-items: center;
}
