/**
    Title: 404 Not Found
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Revision: 4/27/25

    Description: 404 Not Found Component Styles
*/

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item-left {
  flex: 40%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5%;
}

.flex-item-right {
  flex: 60%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2.5%;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
