/**
    Title: Composer Details
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Revision: 5/2/25

    Description: Composer Details Styles
*/

/* back to composer list */
.goBack {
  color:red;
  display: flex;
  flex-direction: row-reverse;
}

.composerDetails {
  border: 1px solid black;
  padding: 1rem;
}

/* align content */
.flex-item-left, .flex-item-right {
  display: flex;
  justify-content: center;
}


/* line up image and figcaption */
.figure {
  display: flex;
  flex-direction: column;
}

.flex-item-right {
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .flex-item-left, .flex-item-right {
    flex: 1 1 45%;
    max-width: 45%;
  }

}
