/**
    Title: Composer Details
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Revision: 5/2/25

    Description: Composer Details Styles
*/


.composerDetails {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 960px;
}

/* Back Button */
.goBack {
  color: red;
  text-align: right;
  display: block;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-item-left,
.flex-item-right {
  flex: 1 1 100%;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .flex-item-left,
  .flex-item-right {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

figcaption {
  word-break: break-all;
}
