<!--
    Title: Exercise 3.2 - Passing Data to Routes, Part 1
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 6/9/23
    Revision: 4/27/25

    Description: Composer Details Component
-->

<a routerLink="/composer-list" class="float-end">
  Return to Composers
</a>

<h3 class="text-center">{{ composer.fullName }}</h3>

<div class="flex-container">

  <div class="flex-item-left">
      <figure>

      <img *ngIf="composer" [src]="composer.img" class="img-fluid"
      alt="Picture of {{ composer.fullName }}" />

      <figcaption>(Image Source: <a href="{{ composer.source }}">{{ composer.source }}</a>)</figcaption>

      </figure>

  </div>
  <div class="flex-item-right">

      Famous Works:
      <ul>
          <li>{{ composer.worksOne }}</li>
          <li>{{ composer.worksTwo }}</li>
      </ul>

      <p>
          {{ composer.bio }}
      </p>

  </div>
</div>
