/**
    Title: Composer Details
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Revision: 5/1/25

    Description: Composer Details Styles
*/

/* ***** ESCAPE BACK TO COMPOSERS LINK ***** */
.goBack {
  color:red;
}

.composerDetails {
  border: 1px solid black;
  padding: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2%;
}

.flex-item-left, .flex-item-right {
  flex: 1;
  padding: 2%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 872px) {
  .composerDetails{
    margin-left: 5%;
    margin-right: 5%;
  }

  .goBack{
    margin-left: 10%;
    margin-right: 10%;
  }
}


@media (min-width: 1010px) {
  .composerDetails{
    margin-left: 10%;
    margin-right: 10%;
  }

  .goBack{
    margin-left: 20%;
    margin-right: 20%;
  }
}


.figure {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  text-align: center;
}

.composer-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
