/**
    Title: Exercise 3.2 - Passing Data to Routes, Part 1
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 6/17/2023
    Revision: 5/3/25

    Description: import bootstrap icons.
*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textSearch {
  width: 80%;
}

.sortFilter {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.sortFilter .btn {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.sortFilter img {
  pointer-events: none;
}

.sortFilter span {
  padding-right: 1rem;
}




.btn {
  background-color: #f4f4f4;
  border: 1px solid #333;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  margin:1rem;
}

.btn:hover {
  box-shadow: 3px 4px 10px rgba(0,0,0,0.3);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.table-row {
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.table-row:hover {
  background-color: #f4f4f4;
  box-shadow: 3px 4px 10px rgba(0,0,0,0.3);
  transform: scale(1.01);
  transition: background-color 0.2s ease-in-out, transform 0.15s ease;
}
