<!--
    Title: Assignment 4.4 - Async Pipe
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 6/17/23
    Revision: 4/25/25

    Description: Composer List Component
-->

<div class="col-8 m-auto">


  <app-sort-panel *ngIf="showSortPanel" (sortChanged)="onSortChanged($event)"></app-sort-panel>

  <app-filter-panel *ngIf="showFilterPanel" (filterChanged)="onFilterChanged($event)"></app-filter-panel>

  <div class="sortFilter">
    <button (click)="toggleSortPanel()" class="btn">
      Sort
      <img src="assets/icons/sort.png" alt="Sort" />

    </button>



    <button  (click)="toggleFilterPanel()" class="btn">
      Filter
      <img src="assets/icons/filter.png" alt="Filter" />

    </button>
  </div>


  <div class="textSearch">
    <!-- o	Add the FormControl directive to the txtSearch input field and pass-in our txtSearchControl variable  -->
      <input type="text" id="txtsearch" class="form-control" placeholder="Search..." [formControl]="txtSearchControl" />
  </div>






  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Composer</th>
        <th scope="col">Genre</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let composer of composers | async"
      (click)="goToDetails(composer.composerId)"
      style="cursor: pointer;">
        <td>{{ composer.fullName }}</td>
        <td>{{ composer.genre }}</td>
      </tr>
    </tbody>
  </table>

</div>
