<!--
    Title: Assignment 4.4 - Async Pipe
    Instructor: Professor Krasso
    Author: Brooke Taylor
    Date: 6/17/23
    Revision: 4/29/25

    Description: Composer List Component
-->

<div class="col-8 m-auto">





  <div class="textSearch">
    <!-- o	Add the FormControl directive to the txtSearch input field and pass-in our txtSearchControl variable  -->
      <input type="text" id="txtsearch" class="form-control" placeholder="Search..." [formControl]="txtSearchControl" />
  </div>


  <div class="sortFilter">


    <button
    #sortPop="ngbPopover"
    type="button"
    class="btn btn-sm"
    [ngbPopover]="sortTpl"
    popoverTitle="Sort Options"
    popoverClass="sort-popover"
    triggers="manual"
    [autoClose]="'outside'"
    container="body"
    (click)="sortPop.toggle()"
  >
    Sort
    <img src="assets/icons/sort.png" alt="Sort" />
  </button>

    <button
    #p="ngbPopover"
    type="button"
    class="btn btn-sm"
    [ngbPopover]="filterTpl"
    popoverTitle="Filter by Genre"
    popoverClass="filter-popover"
    triggers="manual"
    [autoClose]="'outside'"
    container="body"
    (click)="p.toggle()"
  >
  Filter

  <img src="assets/icons/filter.png" alt="Filter" />
</button>


  </div>




<ng-template #sortTpl>
  <app-sort-panel
    [selectedOption]="sortOption"
    (sortChanged)="onSortChanged($event)"
  ></app-sort-panel>
</ng-template>

  <ng-template #filterTpl>
    <app-filter-panel
    [genres]="genres"
    [selectedGenres]="selectedGenres"
    (filterChanged)="onFilterChanged($event)"
  ></app-filter-panel>
  </ng-template>


  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Composer</th>
        <th scope="col">Genre</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let composer of composers | async"
      (click)="goToDetails(composer.composerId)"
      style="cursor: pointer;">
        <td>{{ composer.fullName }}</td>
        <td>{{ composer.genre }}</td>
      </tr>
    </tbody>
  </table>

</div>
